{% extends 'Home.html' %}
{% block content %}
{% endblock %}
{% block portafolio %}
<section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
        	<br>
        	<br>
          <h3 class="section-title">Resultado {{labels2}}</h3>
          <p class="section-description">Imagen a Color - Blanco y Negro - Escala de Grises</p>
        </div>
        <div class="row">



		<div class="row" id="">        
          <div class=" portfolio-item filter-web">	
          <img class="" src={{image3}}>			
          </div>
          <div class=" portfolio-item filter-web">  
          <img class="" src={{image}}>      
          </div>
          <div class=" portfolio-item filter-web">  
          <img class="" src={{image1}}>      
          </div>
          <div class=" portfolio-item filter-web">  
          <img class="" src={{image2}}>      
          </div>



        </div>
      </div> 
    </section>

{% endblock %}