{% extends 'Home.html' %}
{% block content %}
{% endblock %}
{% block portafolio %}
<section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
        	<br>
        	<br>
          <h3 class="section-title">Resultado {{labels2}}</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row">



		<div class="row" id="">        
          <div class=" portfolio-item filter-web">	
          <img class="" src={{image}}>			
          </div>
          <div class=" portfolio-item filter-web">  
          <img class="" src={{image2}}>      
          </div>
          <div class=" portfolio-item filter-web">  
          <img class="" src={{image3}}>      
          </div>
          <div class=" portfolio-item filter-web">  
          <img class="" src={{image4}}>      
          </div>
          <div class=" portfolio-item filter-web">  
          <img class="" src={{image5}}>      
          </div>
          <div class=" portfolio-item filter-web">  
          <img class="" src={{image6}}>      
          </div>


        </div>
      </div> 
    </section>

{% endblock %}