{% extends 'Home.html' %}
{% block content %}
{% endblock %}
{% block portafolio %}
<section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
        	<br>
        	<br>
          <h3 class="section-title">Resultado</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row">

          <div class="col-lg-12">
            <ul id="portfolio-flters">
              
              <li data-filter=".filter-app"><i class="fa fa-database"></i> &nbsp App</li>
              <li data-filter=".filter-card"><i class="	fa fa-newspaper-o"></i>&nbsp Json</li>
              <li data-filter=".filter-web"><i class="fa fa-paper-plane"></i>&nbspWeb</li>
              <li data-filter=".filter-Map"><i class="fa fa-map-marker"></i>&nbsp Map</li>
              <li data-filter=".filter-Map2"><i class="fa fa-map-marker"></i>&nbsp Map2</li>
            </ul>
          </div>
        </div>	
		<div class="row" id="">        
          <div class=" portfolio-item filter-app">

          </div>

          <div class=" portfolio-item filter-web">				
          </div>
         <div class=" portfolio-item filter-card">

          </div>
         <div style="margin: auto; width: 600%">

         <div class=" portfolio-item filter-Map">

       
         		
         </div>
          <div class=" portfolio-item filter-Map2">

       
         		
         </div>

         </div>


        </div>
      </div> 
    </section>

{% endblock %}